In [1]:
import pandas as pd

In [2]:
# Cria um dicionario com mangás, autores e preços
dicionario = {'Mangás': ['MHA','One Piece','JJK'],
'Autores': ['Horikoshi Kouhei','Eiichiro Oda','Gege Akutami'],
'Preços': [27, 52, 32]}

In [3]:
## DataFrame
df = pd.DataFrame(dicionario)

In [14]:
df['Autores']

0    Horikoshi Kouhei
1        Eiichiro Oda
2        Gege Akutami
Name: Autores, dtype: object

In [15]:
df['Autores'][1]

'Eiichiro Oda'

In [16]:
mask = (df['Autores'] == 'Eiichiro Oda')

In [17]:
mask

0    False
1     True
2    False
Name: Autores, dtype: bool

In [18]:
df[mask]

      Mangás       Autores  Preços
1  One Piece  Eiichiro Oda      52

In [11]:
df2 =  pd.DataFrame({'Mangás': ['Dragon Ball'],
'Autores': ['Akira Toriyama'],
'Preços': [100]})

In [12]:
conjunto1_2 = pd.concat([df, df2], ignore_index=True)

In [13]:
conjunto1_2

        Mangás           Autores  Preços
0          MHA  Horikoshi Kouhei      27
1    One Piece      Eiichiro Oda      52
2          JJK      Gege Akutami      32
3  Dragon Ball    Akira Toriyama     100

In [21]:
corr_mask = conjunto1_2['Mangás'] == 'JJK'

In [25]:
conjunto1_2.loc[corr_mask, 'Mangás'] = 'Jujutsu Kaisen'

In [26]:
conjunto1_2

           Mangás           Autores  Preços
0             MHA  Horikoshi Kouhei      27
1       One Piece      Eiichiro Oda      52
2  Jujutsu Kaisen      Gege Akutami      32
3     Dragon Ball    Akira Toriyama     100