In [3]:
import pandas as pd

In [14]:
biblioteca = {'Livros': ['O Retrato de Dorian Gray', 'O ladrão de raios', 'Re:Zero'],
'Autores': ['Oscar Wilde', 'Rick Riordan', 'Tappei Nagatsuki'],
'Preços': [67.8, 44.92, 13.45]} 

df = pd.DataFrame(biblioteca)

In [12]:
biblioteca

{'Livros': ['O Retrato de Dorian Gray', 'O ladrão de raios', 'Re:Zero'],
 'Autores': ['Oscar Wilde', 'Rick Riordan', 'Tappei Nagatsuki'],
 'Preços': [67.8, 44.92, 13.45]}

In [16]:
df

                     Livros           Autores  Preços
0  O Retrato de Dorian Gray       Oscar Wilde   67.80
1         O ladrão de raios      Rick Riordan   44.92
2                   Re:Zero  Tappei Nagatsuki   13.45

In [18]:
df2 = pd.DataFrame({'Livros': ['O Chamado de Cthulhu'],
                    'Autores': ['H.P. Lovecraft'],
                    'Preços': [69.3]})

In [20]:
df_unida = pd.concat([df,df2], ignore_index=True)

In [21]:
df_unida

                     Livros           Autores  Preços
0  O Retrato de Dorian Gray       Oscar Wilde   67.80
1         O ladrão de raios      Rick Riordan   44.92
2                   Re:Zero  Tappei Nagatsuki   13.45
3      O Chamado de Cthulhu    H.P. Lovecraft   69.30